<style>
    #main-headline {
        
    }

    .social {

    }

    label {

    }

    input[name="login"] {

    }

    input:placeholder-shown {

    }

    input:checked {

    }

    button:hover {

    }
</style>
